body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 1px solid #000;
    background-color: #fff;
}

.selection-area, .design-area {
    margin-top: 50px;
    text-align: center;
}

.color-buttons {
    margin: 10px 0;
}

.color-button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
}

.controls {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
} 

.flex-container {
    display: flex;
}
.flex-direction {
    flex-direction: column;
  }
.flex-wrap {
    flex-wrap: wrap;
}